* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}